.clockContent {
    margin-top: 70px;
    cursor: default;
}

.digitalTime {
    display: flex;
    justify-content: center;
    margin-left: -25px;
    font-family: "Digital Numbers";
    font-size: 3.4em;
    letter-spacing: -0.1em;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.digitalPm {
    margin-top: 5px;
    margin-left: 5px;
    letter-spacing: -0.1em;
    display: inline-block;
    font-family: "Digital Numbers";
    font-size: .5em;
    text-shadow: 0 0 10px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.digitalDate {
    margin-bottom: 8px;
    color: #a5a8aa;
    font-size: 1.3em;
    text-align: center;
    text-shadow: 0 0 15px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}