.clockContent {
    margin-top: 70px;
}

.digitalTime {
    /* font-family: Digital-7; */
    font-family: "Digital Numbers";
    font-size: 2em;
    letter-spacing: -0.1em;
    text-align: center;
}

.digitalDate {
    font-size: 1em;
    text-align: center;
}
