body {
    margin: 0;
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: white;
}

@font-face {
    font-family: 'Digital-7';
    src: url('/fonts/digital-7.eot');
    src: url('/fonts/digital-7.eot?iefix') format('eot'),
        url('/fonts/digital-7.woff') format('woff'),
        url('/fonts/digital-7.ttf') format('truetype'),
        url('/fonts/digital-7.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Digital Numbers';
    src: url('/fonts/digitalnumbers-regular.eot');
    src: url('/fonts/digitalnumbers-regular.eot?iefix') format('eot'),
        url('/fonts/digitalnumbers-regular.woff') format('woff'),
        url('/fonts/digitalnumbers-regular.ttf') format('truetype'),
        url('/fonts/digitalnumbers-regular.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}