body {
    margin: 0;
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: white;
    background: #0f3854;
    background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
    background-size: 100%;
}

@font-face {
    font-family: 'Digital Numbers';
    src: url('./fonts/digitalnumbers-regular.eot');
    src: url('./fonts/digitalnumbers-regular.eot?iefix') format('eot'),
        url('./fonts/digitalnumbers-regular.woff') format('woff'),
        url('./fonts/digitalnumbers-regular.ttf') format('truetype'),
        url('./fonts/digitalnumbers-regular.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}